*.S filter=lfs diff=lfs merge=lfs -text
*.bash filter=lfs diff=lfs merge=lfs -text
*.bat filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.c filter=lfs diff=lfs merge=lfs -text
*.cfg filter=lfs diff=lfs merge=lfs -text
*.cmake filter=lfs diff=lfs merge=lfs -text
*.code-workspace filter=lfs diff=lfs merge=lfs -text
*.cpp filter=lfs diff=lfs merge=lfs -text
*.cproject filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.cycapsense filter=lfs diff=lfs merge=lfs -text
*.cycompiler filter=lfs diff=lfs merge=lfs -text
*.cydata filter=lfs diff=lfs merge=lfs -text
*.cyignore filter=lfs diff=lfs merge=lfs -text
*.cyinfo filter=lfs diff=lfs merge=lfs -text
*.cylinker filter=lfs diff=lfs merge=lfs -text
*.cymigration filter=lfs diff=lfs merge=lfs -text
*.cypersonality filter=lfs diff=lfs merge=lfs -text
*.cyqspi filter=lfs diff=lfs merge=lfs -text
*.cywarning filter=lfs diff=lfs merge=lfs -text
*.d filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.elf filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.hex filter=lfs diff=lfs merge=lfs -text
*.history filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.icf filter=lfs diff=lfs merge=lfs -text
*.idx filter=lfs diff=lfs merge=lfs -text
*.index filter=lfs diff=lfs merge=lfs -text
*.ini filter=lfs diff=lfs merge=lfs -text
*.jlink filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.launch filter=lfs diff=lfs merge=lfs -text
*.ld filter=lfs diff=lfs merge=lfs -text
*.location filter=lfs diff=lfs merge=lfs -text
*.lock filter=lfs diff=lfs merge=lfs -text
*.log filter=lfs diff=lfs merge=lfs -text
*.map filter=lfs diff=lfs merge=lfs -text
*.markers filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.mk filter=lfs diff=lfs merge=lfs -text
*.modus filter=lfs diff=lfs merge=lfs -text
*.mtb filter=lfs diff=lfs merge=lfs -text
*.mtbx filter=lfs diff=lfs merge=lfs -text
*.o filter=lfs diff=lfs merge=lfs -text
*.p12 filter=lfs diff=lfs merge=lfs -text
*.p2 filter=lfs diff=lfs merge=lfs -text
*.p9 filter=lfs diff=lfs merge=lfs -text
*.pack filter=lfs diff=lfs merge=lfs -text
*.pdom filter=lfs diff=lfs merge=lfs -text
*.pl filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.prefs filter=lfs diff=lfs merge=lfs -text
*.project filter=lfs diff=lfs merge=lfs -text
*.properties filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.readelf filter=lfs diff=lfs merge=lfs -text
*.readme filter=lfs diff=lfs merge=lfs -text
*.resources filter=lfs diff=lfs merge=lfs -text
*.rsp filter=lfs diff=lfs merge=lfs -text
*.s filter=lfs diff=lfs merge=lfs -text
*.sample filter=lfs diff=lfs merge=lfs -text
*.sct filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
*.svd filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.tcl filter=lfs diff=lfs merge=lfs -text
*.temp filter=lfs diff=lfs merge=lfs -text
*.timestamp filter=lfs diff=lfs merge=lfs -text
*.tree filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.url filter=lfs diff=lfs merge=lfs -text
*.version filter=lfs diff=lfs merge=lfs -text
*.xmi filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.xsd filter=lfs diff=lfs merge=lfs -text
*.xslt filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
